<ion-view view-title="About">
<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-arrow-left" ng-click="back()"></button>
</ion-nav-buttons>
<!-- <ion-nav-buttons side="right">
<button class="button button-clear icon-button ion-loop" ng-click="refresh()"></button>
</ion-nav-buttons> -->
<ion-content>
<div class="row center">
	<img src="img/qrcode.png">
</div>
<div class="row center">
	<h4>E-ticket for IBM One Fine Day</h4>
</div>
<div class="row center">
	<h5>Ibrahim Nurandita Isbandiputra</h5>
</div>
<div class="row center">
	<h5>8iibrahi@id.ibm.com</h5>
</div>
<div class="row center">
	<h5>Ecopark Ancol & Bandar Djakarta, 4 March 2016</h5>
</div>
</ion-content>
</ion-view>
