<ion-view view-title="Disclaimer">
<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-arrow-left" ng-click="back()"></button>
</ion-nav-buttons>
<!-- <ion-nav-buttons side="right">
<button class="button button-clear icon-button ion-loop" ng-click="refresh()"></button>
</ion-nav-buttons> -->
<ion-content class="padding">
<h4>Reminder:</h4>
<ol class="disclaimer-list">
<li>Participants should bring personal medicines, especially for those who have a history of special conditions such as asthma, heart disease, pregnant women, specifically allergies, etc. Especially for participants with a history of special conditions, please limit your activities or consult your physician before participating this event.</li>
<li>No smoking, especially when you are indoors and when to follow the activities in the field (in the midst of other participants).</li>
<li>If there are other activities that are carried out in private as well as some employees both during implementation and after completion of activities, BUT separate out the agenda will be the responsibility of each individual.</li>
<li>During the activity, participants must always pay attention and follow the guidelines of event's committee and coordinator in the field so the agenda can be run properly and orderly.</li>
</ol>
<h4>General Disclaimer</h4>
<p>By participating in any events organized by SFRex, you agree to the following:</p>
<ol class="disclaimer-list">
<li>IBM do not responsible for any loss, theft, damage, or injury to property or persons.</li>
<li>IBM do not responsible for things that happening to IBMers outside the event venue/agenda.</li>
<li>Participation in IBM Kick Off is considered “at your own risk”.</li>
<li>All participants must use due care under the circumstances to comply with all rules,regulations, statutes, and laws of the Republik Indonesia.</li>
<li>Commitee also reserves the right to post any pictures taken during the events on IBM Kick Off websites without asking permission of each individual that are in the pictures. (Discretion will be applied, where appropriate.</li>
</ol>
<p>If you have any questions or concerns, please contact us</p>
</ion-content>
</ion-view>
