<ion-view view-title="Timeline">
<!-- <ion-nav-buttons side="right">
<button class="button button-clear icon-button ion-loop" ng-click="refresh()">
</button>
</ion-nav-buttons> -->
<ion-content>
<div class="card">
  <div class="item">
    <h2>Hello {{menuprofile.name}}</h2>
    <h2>4 days remaining to one fine day</h2>
  </div>
</div>
<div class="card">
  <div class="item">
    <h2>No Quiz Available rightnow</h2>
  </div>
</div>
<div class="card">
  <div class="item">
    <h2>No Poll Available rightnow</h2>
  </div>
</div>
</ion-content>
</ion-view>
