<ion-view view-title="Hubungi Kami">
<ion-content>
<ion-list>
<div class="list">
	<label class="item item-input">
		<span class="input-label">Nomor Telepon</span>
	</label>
	<div class="row">
		<div class="col">
			<a class="button button-block button-balanced-900 greenbutton icon-left ion-ios-telephone center" href="tel:+622179171234">CC 1</a>
		</div>
		<div class="col">
			<a class="button button-block button-balanced-900 greenbutton icon-left ion-ios-telephone center" href="tel:+62217941234">CC 2</a>
		</div>
	</div>
	<label class="item item-input item-stacked-label">
		<span class="input-label">E-mail</span>
	</label>
	<form action="MAILTO:customercare@bluebirdgroup.com?subject=Pesan dari blue bird customer mobile" method="post" style="padding:5px 20px;"enctype="text/plain">
		<textarea name="email" id="email-textarea" placeholder="Tulis pesan anda disini" rows="10" cols="50"></textarea>
		<div class="row">
			<div class="col">
				<input type="submit" class="button button-block button-calm bluebutton center" value="Send">
			</div>
			<div class="col">
				<input type="reset" class="button button-block button-assertive-900 redbutton center" value="Reset">
			</div>
		</div>
	</form>
</div>
</ion-list>
</ion-content>
</ion-view>
