<ion-view view-title="Needs Checklist">
<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-arrow-left" ng-click="back()"></button>
</ion-nav-buttons>
<ion-content class="padding animated fadeIn">
<ion-list>
<h4>Checklist for your belongings:</h4>
<ion-checkbox>Prayer Equipment</ion-checkbox>
<ion-checkbox>Changing Clothes</ion-checkbox>
<ion-checkbox>Personal Drugs</ion-checkbox>
<ion-checkbox>Plastic Bags</ion-checkbox>
<ion-checkbox>Changing Shoes</ion-checkbox>
<ion-checkbox>Umbrella</ion-checkbox>
<h4>You should wear:</h4>
<ol class="disclaimer-list">
	<li>Uniform Shirt</li>
	<li>Long Pants</li>
	<li>Sport, Shoes, and Socks</li>
	<li>Hat, Sun Glasses, Sun Screen *optional</li>
</ol>


</ion-list>
</ion-content>
</ion-view>
