<ion-view view-title="Loyalty Point">
<ion-content>
<div class="coin" style="height:30%;background-color:#CCC;padding:10px;">
	<div class="row center">
		<h2>Total Point Anda</h2>
	</div>
	<div class="row center">
		<div class="col col-20">
		</div>
		<div class="col col-20">
			<img src="img/coin.png">
		</div>
		<div class="col col-60">
			<h2 style="padding-left:10px;">{{point}} poin</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="card">
		<div class="item item-text-wrap">
			<h3>Total poin anda saat ini adalah <b>{{point}}</b> poin.</h3>
		</div>
	</div>
</div>
<div class="row">
	<p>Dapatkan tambahan poin dengan terus menggunakan taksi blue bird untuk perjalanan anda</p>
</div>
</ion-content>
</ion-view>