<ion-view view-title="Rundown">
<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-arrow-left" ng-click="back()"></button>
</ion-nav-buttons>
<ion-content class="animated fadeIn">
<ul class="list rundown-list">
	<li class="item">
		<h2>Departure Preparation</h2>
		<h3>01.00 PM – 01.30 PM</h3>
		<p>Meeting Point at Sinarmas Land lot</p>
	</li>
	<li class="item">
		<h2>Depart to Ancol</h2>
		<h3>01.30 PM – 02.30 PM</h3>
		<p>Depart to Ancol Eco Park by bus</p>
	</li>
	<li class="item">
		<h2>Arrived at Ancol</h2>
		<h3>02.30 PM – 03.00 PM</h3>
		<p>Ground rule briefing</p>
	</li>
	<li class="item">
		<h2>Opening and Keynote Speech</h2>
		<h3>03.00 PM – 03.45 PM</h3>
		<p>Keynote Speech by Mr. Gunawan Susanto and Mr. Mitch Young</p>
	</li>
	<li class="item">
		<h2>Prayer Break</h2>
		<h3>03.45 PM – 04.00 PM</h3>
	</li>
	<li class="item">
		<h2>Fun Games</h2>
		<h3>04.00 PM – 06.00 PM</h3>
	</li>
	<li class="item">
		<h2>Depart to Dinner's Place</h2>
		<h3>06.00 PM – 06.30 PM</h3>
		<p>Depart to Bandar Djakarta, Ancol</p>
	</li>
	<li class="item">
		<h2>Dinner, Award, Music</h2>
		<h3>06.30 PM – 08.00 PM</h3>
	</li>
	<li class="item">
		<h2>Travel Back to The Plaza</h2>
		<h3>08.00 PM – 09.00 PM</h3>
	</li>
</ul>
</ion-content>
</ion-view>
